/Data/clustered_scored/large_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/small_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/large_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/small_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/large_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/small_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/small_scale_100_02_17_all_IntAct.txt
/Data/large_scale_100_02_17_all_IntAct.txt
/Data/small_scale_100_02_17_all_IntAct.txt.gz
/Data/large_scale_100_02_17_all_IntAct.txt.gz
/Data/uniprotAC2geneIDrelease_02-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ARATH_3702_idmapping.dat
/Data/databaseName_IntAct...MBInfo_speciesID_83333_strain K12_detmethod_%22MI:0004%22_pmethod_%22MI:0433%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_83333_strain K12_detmethod_%22MI:0090%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_83333_strain K12_detmethod_%22MI:0018%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_559292_strain ATCC 204508_detmethod_%22MI:0004%22_pmethod_%22MI:0433%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_559292_strain ATCC 204508_detmethod_%22MI:0090%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_559292_strain ATCC 204508_detmethod_%22MI:0018%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_10090_Mus musculus_detmethod_%22MI:0004%22_pmethod_%22MI:0433%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_10090_Mus musculus_detmethod_%22MI:0090%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_10090_Mus musculus_detmethod_%22MI:0018%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_9606_Homo sapiens_detmethod_%22MI:0004%22_pmethod_%22MI:0433%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_9606_Homo sapiens_detmethod_%22MI:0090%22_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_9606_Homo sapiens_detmethod_%22MI:0018%22_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_3702_Arabidopsis thaliana_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_6239_Caenorhabditis elegans_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_7227_Drosophila melanogaster_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_559292_strain ATCC 204508_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_10090_Mus musculus_2017-02-23
/Data/databaseName_mentha...mentha_speciesID_9606_Homo sapiens_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_3702_Arabidopsis thaliana_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_6239_Caenorhabditis elegans_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_7227_Drosophila melanogaster_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_83333_strain K12_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_559292_strain ATCC 204508_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_10090_Mus musculus_2017-02-23
/Data/databaseName_IntAct...MBInfo_speciesID_9606_Homo sapiens_2017-02-23
/Data/clustered_scored/large_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/clustered_scored/small_scale_100_02_17_all_IntAct_cluster_local.txt
/Data/small_scale_100_02_17_all_IntAct.txt
/Data/large_scale_100_02_17_all_IntAct.txt
/Data/small_scale_100_02_17_all_IntAct.txt.gz
/Data/large_scale_100_02_17_all_IntAct.txt.gz
/Data/small_scale_100_02_17_all_IntAct.txt
/Data/large_scale_100_02_17_all_IntAct.txt
/Data/small_scale_100_02_17_all_IntAct.txt.gz
/Data/large_scale_100_02_17_all_IntAct.txt.gz
/Data/small_scale_100_02_17_all_IntAct.txt
/Data/large_scale_100_02_17_all_IntAct.txt
/Data/small_scale_100_02_17_all_IntAct.txt.gz
/Data/large_scale_100_02_17_all_IntAct.txt.gz
/Data/small_scale_100_02_17_all_IntAct.txt
/Data/large_scale_100_02_17_all_IntAct.txt
/Data/small_scale_02_17_all_IntAct.txt
/Data/large_scale_02_17_all_IntAct.txt
/Data/protein2ipr_release_02-2017.dat
/Data/protein2ipr_release_02-2017/aa
/Data/protein2ipr_release_02-2017/ab
/Data/protein2ipr_release_02-2017/ac
/Data/protein2ipr_release_02-2017/ad
/Data/protein2ipr_release_02-2017/ae
/Data/protein2ipr_release_02-2017/af
/Data/protein2ipr_release_02-2017/ag
/Data/protein2ipr_release_02-2017/ah
/Data/protein2ipr_release_02-2017/ai
/Data/protein2ipr_release_02-2017/aj
/Data/protein2ipr_release_02-2017/ak
/Data/protein2ipr_release_02-2017/al
/Data/protein2ipr_release_02-2017/am
/Data/protein2ipr_release_02-2017/an
/Data/protein2ipr_release_02-2017/ao
/Data/protein2ipr_release_02-2017/ap
/Data/protein2ipr_release_02-2017/aq
/Data/protein2ipr_release_02-2017/ar
/Data/protein2ipr_release_02-2017/as
/Data/protein2ipr_release_02-2017/at
/Data/protein2ipr_release_02-2017/au
/Data/protein2ipr_release_02-2017/av
/Data/protein2ipr_release_02-2017/aw
/Data/protein2ipr_release_02-2017/ax
/Data/protein2ipr_release_02-2017/ay
/Data/protein2ipr_release_02-2017/az
/Data/protein2ipr_release_02-2017/ba
/Data/protein2ipr_release_02-2017/bb
/Data/protein2ipr_release_02-2017/bc
/Data/protein2ipr_release_02-2017/bd
/Data/protein2ipr_release_02-2017/be
/Data/protein2ipr_release_02-2017/bf
/Data/protein2ipr_release_02-2017/bg
/Data/protein2ipr_release_02-2017/bh
/Data/protein2ipr_release_02-2017/bi
/Data/protein2ipr_release_02-2017/bj
/Data/protein2ipr_release_02-2017/bk
/Data/protein2ipr_release_02-2017/bl
/Data/protein2ipr_release_02-2017/bm
/Data/protein2ipr_release_02-2017/bn
/Data/protein2ipr_release_02-2017/bo
/Data/protein2ipr_release_02-2017/bp
/Data/protein2ipr_release_02-2017/bq
/Data/protein2ipr_release_02-2017/br
/Data/protein2ipr_release_02-2017/bs
/Data/protein2ipr_release_02-2017/bt
/Data/protein2ipr_release_02-2017/bu
/Data/protein2ipr_release_02-2017/bv
/Data/protein2ipr_release_02-2017/bw
/Data/protein2ipr_release_02-2017/bx
/Data/protein2ipr_release_02-2017/by
/Data/protein2ipr_release_02-2017/bz
/Data/protein2ipr_release_02-2017/ca
/Data/protein2ipr_release_02-2017/cb
/Data/protein2ipr_release_02-2017/cc
/Data/protein2ipr_release_02-2017/cd
/Data/protein2ipr_release_02-2017/ce
/Data/protein2ipr_release_02-2017/cf
/Data/protein2ipr_release_02-2017/cg
/Data/protein2ipr_release_02-2017/ch
/Data/protein2ipr_release_02-2017/ci
/Data/protein2ipr_release_02-2017/cj
/Data/protein2ipr_release_02-2017/ck
/Data/protein2ipr_release_02-2017/cl
/Data/protein2ipr_release_02-2017/cm
/Data/protein2ipr_release_02-2017/cn
/Data/protein2ipr_release_02-2017/co
/Data/protein2ipr_release_02-2017/cp
/Data/protein2ipr_release_02-2017/cq
/Data/protein2ipr_release_02-2017/cr
/Data/protein2ipr_release_02-2017/cs
/Data/protein2ipr_release_02-2017/ct
/Data/protein2ipr_release_02-2017/cu
/Data/protein2ipr_release_02-2017/cv
/Data/protein2ipr_release_02-2017/cw
/Data/protein2ipr_release_02-2017.dat
/Data/geneID2pubmed_release_02-2017
/Data/uniprotAC2geneIDrelease_02-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ARATH_3702_idmapping.dat
/Data/IntAct_MITAB27_release_02-2017.txt
/Data/IntAct_MITAB27_release_02-2017.txt
/Data/geneID2pubmed_release_02-2017
/Data/uniprotAC2geneIDrelease_02-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ARATH_3702_idmapping.dat
/Data/geneID2pubmed_release_01-2017
/Data/uniprotAC2geneIDrelease_01-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_ARATH_3702_idmapping.dat
/Data/IntAct_MITAB27_release_01-2017.txt
/Data/Vincent_and_Schnell_2016_v2.db
/Data/intact.txt
/results/cluego
.Rproj.user
.RData
/Users/vitalii/Desktop/VItalii_EBI/imex_vs_uniprot/.RData
summaries/
Data/
results/
biogrid/
analysis/
from_cytoscape/
/summaries/
/Data/
/results/
/biogrid/
/analysis/
/from_cytoscape/
**/.RData
summaries
Data
results
biogrid
analysis
from_cytoscape
“.RData”
.Rproj.user/