/Data/geneID2pubmed_release_02-2017
/Data/uniprotAC2geneIDrelease_02-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ARATH_3702_idmapping.dat
/Data/IntAct_MITAB27_release_02-2017.txt
/Data/IntAct_MITAB27_release_02-2017.txt
/Data/geneID2pubmed_release_02-2017
/Data/uniprotAC2geneIDrelease_02-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_02-2017_ARATH_3702_idmapping.dat
/Data/geneID2pubmed_release_01-2017
/Data/uniprotAC2geneIDrelease_01-2017_YEAST_559292_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_SCHPO_284812_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_RAT_10116_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_MOUSE_10090_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_HUMAN_9606_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_ECOLI_83333_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DROME_7227_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DICDI_44689_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_DANRE_7955_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_CHICK_9031_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_CAEEL_6239_idmapping.dat
/Data/uniprotAC2geneIDrelease_01-2017_ARATH_3702_idmapping.dat
/Data/IntAct_MITAB27_release_01-2017.txt
/Data/Vincent_and_Schnell_2016_v2.db
/Data/intact.txt
/results/cluego
.Rproj.user
